.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #785959e8;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; /* Garanta que não sobreponha conteúdos mais importantes */
}

/* Estilo do título */
.navbar-title {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

/* Efeito hover */
.navbar:hover {
    background-color: #654545;
}
